html{}
.webbackground{
background-color: #EDF2C5; 
margin:0px;   
}
.web_mainstructure{
width:940px;
height:880px;
box-sizing:content-box;
margin-left:160px;
margin-right:160px;
background-color: #EDF2C5;
}
.header{
width:100%;
height:103px;
background-color:#EDF2C5;
display:flex;
justify-content:start;  
}
.title_vegetables{
 color:#778A50;
 font-size:44px;
 font-family:Arial Black;
 height:42px;
 width:271px;
 line-height:30px;
 margin-top:53px;
}
.header_icon{
width:669px;
display:flex;
justify-content:flex-end;     
}
.btn_facebook{
margin-top:61px;
width:25px;
height:25px;
margin-right:10px;    
}
.btn_instagram{
margin-top:61px;
width:25px;
height:25px;
margin-right:10px;    
}
.line{
size:1px;
height:25px;
color:#778A50;
margin-top:61px;
margin-right:10px;
margin-left:0px;
}
.btn_login{
color:#778A50;
font-size:12px;
font-family:Arial Black;
border:1px solid #778A50; 
background-color:#EDF2C5;
margin-top:61px;
width:60px;
height:25px;
margin-right:10px;   
}
.btn_join{
color:#778A50;
font-size:12px;
font-family:Arial Black;
border:1px solid #778A50; 
background-color:#EDF2C5;
margin-top:61px;
width:50px;
height:25px;    
}
.nav{ 
background-color:#778A50;
box-shadow:3px;
width:940px;
height:44px;
}
.nav_btn{ 
 
 padding:0px;
 margin:0px;
 list-style-type:none;
 display:flex;
 justify-content:flex-start;
 flex-direction:row;
}
.nav_btn_item{
 font-size:16px;
 font-family:Arial Black;
 color:#EDF2C5;
 line-height:14px;
 margin-left:30px;
 margin-right:30px;
 margin-top:16px;
}
.picture_area{
 width:940px;
 height:448px;
 margin-top:20px;   
}
.picture_area_pumpkin{
  width:100%;
  height:100%;  
}
.article{
 width:940px;
 height:200px;
 display:flex;
 justify-content:space-between;
 margin-top:30px;
}
.article_area{
  width:445px;
  height:200px;  
}
.article_title{
 box-shadow:3px;   
 font-size:16px;
 font-family:Arial Black;
 background-color:#778A50;
 color:#EDF2C5;
 width:445px;
 height:45px;
 margin:0px;
 padding-left:30px;
 padding-top:15px;
 line-height:14px;
 box-sizing:border-box;   
}
.article_picture{
 display:flex;
 width:445px;
 weight:140px;
 margin-top:15px;  
}
.article_picture_items{
 width:140px;
 height:140px;
 margin-right:12px;
}
.article_content{
 width:445px;
 height:200px;   
}
.content_title{
box-shadow:3px;
font-size:16px;
font-family:Arial Black;
color:#EDF2C5;
background-color:#778A50;
margin:0px;
padding-top:17px;
padding-left:30px;
line-height:14px;
width:445px;
height:45px;
box-sizing:border-box;   
}
.content_area{
background-color:#F7FBDA;
margin-top:15px;
width:445px;
height:140px;
box-sizing:border-box;  
}
.content_text{
font-size:12px;
font-family:Arial, Helvetica, sans-serif;
line-height:1.33em;
margin:0px;
padding:16px 15px;
}
.content_line{
 display:flex;
 justify-content:center;
 size:1px;
 width:412px;
 color:#7D7D7D;
 margin-top:0px;
 margin-bottom:0px;
 padding-top:0px;
 padding-bottom:0px; 
}
.additional_info{
 font-size:12px;
 font-family:Arial, Helvetica, sans-serif;
 line-height:1.83em;
 margin:0px;
 padding-top:10px;
 padding-left:15px;   
}
.footer{
 width:1264px;
 height:60px;
 box-sizing:content-box;
 background-color:#778A50;
 display:flex;  
 justify-content: center;
}
.footer-contnet{
color:#EDF2C5;
font-size:12px;
font-family:ArialMT 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
margin-top:24px;
}